.blog-post-profile{background-color:white;
width:400px;
margin:0 auto;}

.post-img{width:400px;
border-radius:10px;
margin:0 auto;
border-bottom:1px solid black;
box-sizing: border-box;
display:block}

*{box-sizing: border-box;}

.post-content{text-align:center;
display:block;
width:400px;
margin-left:auto;
margin-right:auto;
background-color:yellow;
border-radius:10px;
border:2px solid black;

}


.link{color:white;
background-color:blue;
text-decoration:none;
padding:8px 12px;
border-radius:10px;
display:inline-block;}

.link:hover{background:black;}